@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Poppins:400,700,500,600|Noto+Sans:600|Open+Sans:700");
/* The following line is used to measure usage of this code in production. For more info see our usage billing page */
@import url("https://px.animaapp.com/62ebc712751b2928de8d2bfd.62ebc713dd3a2af789bdcb17.aUhAxMU.hcp.png");

@font-face {
  font-family: "Poppins-SemiBold-Bold";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/Poppins-Bold.otf") format("opentype");
}
@font-face {
  font-family: "Poppins-SemiBold-SemiBold";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/Poppins.zip");
}
@font-face {
  font-family: "Poppins-SemiBold-Regular";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/Poppins-SemiBold.ttf") format("truetype");
}
:root {
  --mdc-theme-background: #fff;
  --mdc-theme-error: #b00020;
  --mdc-theme-on-error: #fff;
  --mdc-theme-on-primary: #fff;
  --mdc-theme-on-secondary: #fff;
  --mdc-theme-on-surface: #000;
  --mdc-theme-primary: #0062ff;
  --mdc-theme-secondary: #018786;
  --mdc-theme-surface: #fff;
}


.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
  position:relative
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
  position:relative;
}

input:focus {
  outline: none;
}

* {
  box-sizing: border-box;
}

/* pop up form stuff */

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 600px;
  height: auto;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-top:10px;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}